<div class="welcome">
  <div class="header">
    <ion-header >
      <ion-toolbar color= "primary" class="top-toolbar">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="title" size="large">Welcome</ion-title>
      </ion-toolbar>
    
      <ion-toolbar color = "primary" class="bottom-toolbar">
        <ion-title class="title" size="small" slot="start">Travel easy, we got you</ion-title>
      </ion-toolbar>
    </ion-header></div>
    <div class="body">
      <ion-content>
        
       
      </ion-content>



    </div>



</div>
