<div class="welcome">
  <div class="header">
    <ion-header >
      <ion-toolbar color= "primary" class="top-toolbar">
        <ion-buttons  slot="start">
          <ion-back-button class="is-small"></ion-back-button>
        </ion-buttons>
        <ion-title class="mytitle" size="large">Welcome</ion-title>
      </ion-toolbar>
    
      <ion-toolbar color = "primary" class="bottom-toolbar">
        <ion-title class="mytitle" size="small" slot="start">Travel easy, we got you</ion-title>
      </ion-toolbar>
    </ion-header></div>
    <div class="mybody">
      <ion-item color="secondary-contrast">
        <ion-select placeholder="S">
          <ion-select-option *ngFor="let c of countries" >{{c.number}}</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
        <ion-input></ion-input>
      </ion-item>

 </div>



</div>
