<div class="welcome">
  <div class="header">
    <ion-header >
      <ion-toolbar color= "primary" class="top-toolbar">
        <ion-buttons  slot="start">
          <ion-back-button class="is-small"></ion-back-button>
        </ion-buttons>
        <ion-title class="mytitle" size="large">Welcome</ion-title>
      </ion-toolbar>
    
      <ion-toolbar color = "primary" class="bottom-toolbar">
        <ion-title class="mytitle" size="small" slot="start">Travel easy, we got you</ion-title>
      </ion-toolbar>
    </ion-header></div>
    <div class="mybody">
  <form [formGroup]="numberForm">
      <ion-item color="secondary-contrast" lines="none" *ngIf="countries.length>0">
        <ion-select placeholder="+1" lines="none" formControlName="ext">
          <ion-select-option *ngFor="let c of countries" lines="none" >
            <ion-icon [src]="c.image"></ion-icon>
           + {{c.number}}
           </ion-select-option>
    
        </ion-select>
        <ion-input placeholder="enter your number" formControlName="number"></ion-input>

      </ion-item>
      <ion-item lines="none" color="seconday-contrast"> 
        <ion-button type="button" color="seconday" slot="end" shape="round" 
         (click)="submit()">Submit</ion-button>
      </ion-item>
    </form>

 </div>



</div>
