<ion-header color="primary" class="my-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title class="mytitle" size="small">Where to</ion-title>
  </ion-toolbar>
  <ion-toolbar class="search" color="primary">
    <ion-grid>

      <ion-row>
        <ion-col class="mycols"></ion-col>
        <ion-col size="10">
          <ion-searchbar #searchBar placeholder="call me when we reach?" (keyup)="search(searchBar.value)">
            
          </ion-searchbar>
          <ion-list *ngIf="places">
            <ion-item lines="none" 
            *ngFor="let p of places" 
            (click)="selectPlace(p)">
        
            {{p.description}}
        
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="add-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>


</ion-header>
<ion-content>

  <div #map id="map"></div>
  test me

</ion-content>