.my-header{
    color:white
}
ion-toolbar{
    --color:white;
}
.mytitle{
    color:white;
}
ion-searchbar{
    --background:white;
    

}
ion-icon {
    color: white  }
 ion-list{
    --background:white; 
 }
 ion-item{
    --background:white;   
 }

 #map{
    width: 100%;
    height: 300px;
}
.action-sheet{
    background-color: white;
}

.trips{
    background-color: #01b369;;
    height: 100%;
}