.mytitle{
    color: white;
}
ion-card{
    --background: #f5f5f5f5;
    color: black;
    ion-card-header{
        ion-card-title{
        color: black;}
    }

}

ion-icon{
    color:red;
    font-size: 22px;
}
.time{
    ion-icon{
        color: black;
        font-size: 24px;
    }
}

ion-slide {
    width: 40%!important;
}
.custom-time{
    ion-button{
        --background: #f5f5f5f5
    }
}